<form>
    <div><br></div>
    <div class="col-mb-3 text-center">
        <div class="row">
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-secondary" [routerLink]="['../cadastrar']">Cadastrar Itens</button>
            </div>
            <div class="col-md-6 text-left">
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/ctis']">voltar</button>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>
                    <h5 style="text-align: justify">
                        Pesquisar Funcionário
                    </h5>
                </label>
            </div>
            <div class="col-md-4">
                <input class="form-control" placeholder="Funcionário...">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary">Pesquisar</button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div class="col-mb-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">Matrícula</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let funcionario of listaFuncionarios">
                        <tr class="text-center">
                            <td>{{funcionario.matricula}}</td>
                            <td>{{funcionario.nome}}</td>
                            <td>{{funcionario.email}}</td>
                            <td>
                                <button [routerLink]="['../editar/' , funcionario.id]"
                                    class="btn btn-outline-secondary">editar</button>&nbsp;
                                <button (click)="deletarFuncionarioId(funcionario.id)"
                                    class="btn btn-outline-secondary">excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>