<form>
    <div><br></div>
    <div class="col-mb-3 text-center">
        <div class="row">
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-secondary" [routerLink]="['../cadastrar']">Cadastrar
                    Itens</button>
            </div>
            <div class="col-md-6 text-left">
                <button type="button" class="btn btn-outline-secondary" [routerLink]="['/ctis']">voltar</button>
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="row text-center">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <label>
                    <h5 style="text-align: justify">
                        Pesquisar itens
                    </h5>
                </label>
            </div>
            <div class="col-md-4">
                <form>
                    <input
                    name="item"
                    id="item"
                    class="form-control"
                    placeholder="Itens..."
                    ngModel
                    #item="ngModel"
                    (change)="preencherCampo(item)">
                </form>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-secondary">Pesquisar</button>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div class="col-mb-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">codigo</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">marca</th>
                            <th scope="col">cor</th>
                            <th scope="col">valor</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">ações</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of itens">
                        <tr class="text-center">
                            <th scope="row">{{item.codigo}}</th>
                            <td>{{item.tipo}}</td>
                            <td>{{item.marca}}</td>
                            <td>{{item.cor}}</td>
                            <td>{{item.valor}}</td>
                            <td>{{item.descricao}}</td>
                            <td>
                                <button [routerLink]="['../editar/' , item.id]"
                                    class="btn btn-outline-secondary">editar</button>&nbsp;
                                <button (click)="deletarItemId(item.id)"
                                    class="btn btn-outline-secondary">excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</form>