<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="width: 11rem ; border-color: transparent">
                <img src="/assets/funcionario.png" class="card-img-top" >
                <div class="card-body text-center">
                    <a [routerLink]="['/home']" class="btn btn-outline-secondary">Funcionários</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 11rem; border-color: transparent" >
                <img src="/assets/itens.png" class="card-img-top" >
                <div class="card-body">
                    <a [routerLink]="['itens']" class="btn btn-outline-secondary">Itens</a>
                </div>
            </div>
        </div>
    </div>
</div>